.chat-main
  .main-hedder
    .main-group
      %h2.main-group__current-group
        group
      %ul.main-group__group-member
        Member : name
    = link_to "#" , class:"main-group__edit-btn" do
      Edit
  .messages
    .message-date
      %p.message-date__send-name
        name
      %p.message-date__send-date
        2020/06/13(Sat) 21:00:00
    %p.messages__content
      メッセージの内容
    .message-date
      %p.message-date__send-name
        name
      %p.message-date__send-date
        2020/06/13(Sat) 21:00:05
    %p.send-massage
      メッセージの内容2
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas' ,'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit",class: "submit-btn", value: "Send"}