.chat-side
  .side-hedder
    .side-box
      %p.side-box__user-name
        = current_user.name
      %ul.side-box__menu 
        %li.side-box__edit-user
          =link_to new_group_path(current_user) , class: "side-box__contents__btn" do
            =icon('fas', 'edit')
        %li.side-box_new-group
          =link_to edit_user_path(current_user) , class: "side-box__contents__btn" do
            =icon('fas', 'cog')
  .side-groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) , class:"group" do
          %p.group__group-name
            = group.name
          %p.group__new-message 
            = group.show_last_message